# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/
*.egg
.eggs/

# Coverage
.benchmarks/
.coverage
*.cover
coverage.xml
htmlcov/
site/
